.home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-page .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .home-page .navbar {
    position: absolute;
    width: 1585px;
    height: 57px;
    top: 0;
    left: -68px;
  }
  
  .home-page .rectangle {
    width: 1440px;
    left: 68px;
    background-color: #002d72;
    border-color: #68ace5;
    position: absolute;
    height: 57px;
    top: 0;
    border: 1px solid;
  }
  
  .home-page .rectangle-2 {
    width: 133px;
    left: 68px;
    background-color: #68ace5;
    position: absolute;
    height: 57px;
    top: 0;
    border: 1px solid;
  }
  
  .home-page .rectangle-3 {
    width: 161px;
    left: 201px;
    background-color: #002d72;
    position: absolute;
    height: 57px;
    top: 0;
    border: 1px solid;
  }
  
  .home-page .rectangle-4 {
    width: 144px;
    left: 362px;
    background-color: #002d72;
    position: absolute;
    height: 57px;
    top: 0;
    border: 1px solid;
  }
  
  .home-page .rectangle-5 {
    width: 117px;
    left: 1391px;
    background-color: #002d72;
    position: absolute;
    height: 57px;
    top: 0;
    border: 1px solid;
  }
  
  .home-page .text-wrapper {
    width: 268px;
    left: 0;
    position: absolute;
    top: 11px;
    font-family: "Faustina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .text-wrapper-2 {
    position: absolute;
    width: 268px;
    top: 11px;
    left: 147px;
    font-family: "Faustina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .text-wrapper-3 {
    position: absolute;
    width: 269px;
    top: 11px;
    left: 297px;
    font-family: "Faustina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .text-wrapper-4 {
    width: 269px;
    left: 1316px;
    position: absolute;
    top: 11px;
    font-family: "Faustina-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .p {
    position: absolute;
    width: 951px;
    top: 99px;
    left: 245px;
    font-family: "Faustina-Bold", Helvetica;
    font-weight: 700;
    color: #002d72;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-page .the-purpose-of-this {
    position: absolute;
    width: 1238px;
    top: 249px;
    left: 101px;
    font-family: "Faustina-Regular", Helvetica;
    font-weight: 400;
    color: #002d72;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  